.CartPage {
    position: relative;
    top: 80px;

    #Title {
        position: absolute;
        width: 84px;
        height: 40px;
        left: 100px;
        top: 0px;
        text-transform: uppercase;
        color: #1D1F22;
    }

    &-Wrapper {
        position: relative;
        top: 59px;
        display: flex;
        flex-direction: column;
    }
    
    &-Empty {
        position: absolute;
        top: 200px;
        width: 100%;
        text-transform: uppercase;
        color: #1D1F22;
        text-align: center;
    }
}











