@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.Product-Page {
    width: 1238px;
    height: auto;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Product-Page::after {
    content: '';
    width: 386px;
}

#Products-CategoryName {
    height: 68px;
    width: -moz-fit-content;
    width: fit-content;
    left: 101px;
    top: 160px;
    margin-top: 0px;
    bottom: 0px;
    margin-left: 101px;
    margin-bottom: 103px;
    text-transform: capitalize;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    color: #1D1F22;
}

.Products {
    width: 1440px;
    position: relative;
    height: auto;
    display: inline-block;
    padding-top: 80px;
}

.Products::after {
    display: table;
    content: "";
    clear: both;
}