.HomePage {
    position: relative;
    width: 1440px;
}

h1 {
    position: absolute;
    height: 68px;
    width: 299px;
    left: 101px;
    top: 160px;
    margin-top: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    line-height: 160%;
}