.HomePage {
    position: relative;
    width: 1440px;
    height: 1513px;
}

h1 {
    position: absolute;
    height: 68px;
    width: 299px;
    left: calc(50% - 299px/2 - 469.5px);
    top: calc(50% - 68px/2 - 562.5px);
}