.CurrencySwitcher {
    position: absolute;
    width: 114px;
    height: 169px;
    top: 36.5px;
    right: 0px;
    bottom: 0px;
    left: -14px;
    background-color: #FFF;
    
    &-Menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 54px;
        margin-left: 23px;
    }

    &-Item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 54px;
        height: 29px; 
    }

    .symbol {
        margin-right: 3px;
    }
}