.currency-switcher-button {

    position: absolute;
    left: 76.47%;
    right: 20.59%;
    top: 53.75%;
    bottom: 38.75%;
    padding: 5px;
    cursor: pointer;

}

.dropdown {

    border: 2px solid black;
    position: fixed;
    width: 114px;
    height: 169px;
    left: 1248px;
    top: 65px;

    filter: drop-shadow(0px, 4px, 35px rgba(168, 172, 176, 0.19));
}