.PDP {

   position: relative;
   width: 1440px;
   height: 665px;
   top: 80px;

    &-Content {
       
        position: absolute;
        width: 1002px;
        height: 513px;
        left: 219px;
        top: 80px;
        overflow: hidden;
        border: 1px solid black;
    }

    &-SideSection {
      
        position: absolute;
        width: 292px;
        height: 513px;
        left: 711px;
        top: 0px;
        right: 219px;
    }

    #PDP-PriceLabel {
        text-transform: uppercase;
        width: 50px;
        height: 18px;
        position: absolute;
        margin: 0;
        top: 224px;
        color: #1D1F22;
        font-style: normal;
        font-weight: bold;
    }

    #PDP-Description {

        position: absolute;
        bottom: 72px;
    }

    &-AttributeItems {

        display: flex;
        flex-direction: row;
    }

    &-AttributeItem {
        
        align-items: center;
        text-align: center;
        
        border: 1px solid #A6A6A6;
        box-sizing: border-box;
        width: 63px;
        height: 45px;
    }

    &-ItemText {
        text-align: center;
    }

    &-AddToCart {
        position: absolute;
        top: 312.5px;
        background-color: #5ECE7B;
        border: none;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 32px;
        width: 292px;
        height: 52px;
    }
}