.PDP {
   position: relative;
   width: 1440px;
   height: fit-content;
   top: 80px;
   padding-top: 80px;
   padding-left: 219px;

    &-Content {
        width: 1002px;
        height: fit-content;
        left: 219px;
        top: 80px;
        overflow: hidden;

        #PDP-Warning {
            margin-bottom: 10px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            color: #E60000;
            line-height: 20px;
            letter-spacing: 0.04em;
        }

        .PDP-SideSection {
            position: relative;
            width: 292px;
            height: fit-content;
            min-height: 513px;
            left: 711px;
            top: 0px;
            right: 219px;

            #PDP-SideSection-Brand {
                width: 292px;
                height: 27px;
                margin-bottom: 16px;
                margin-top: 0;
    
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 27px;
                display: flex;
                align-items: center;
                color: #1D1F22;
            }
            
            #PDP-SideSection-Name {
                margin: 0;
                top: 43px;
    
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 27px;
                display: flex;
                align-items: center;
                color: #1D1F22;
            }

            &-Attributes {
                top: 113px;
                display: flex;
                flex-direction: column;
                margin-top: 43px;
                margin-bottom: 40px;

                &-Warning {
                    top: 113px;
                    display: flex;
                    flex-direction: column;
                    margin-top: 43px;
                    margin-bottom: 10px;    
                }
            }

                .PDP-Attribute {
                    margin-bottom: 20px;
                    width: fit-content;

                    &-Name {
                        height: 18px;
                        margin-bottom: 8px;       

                        font-family: 'Roboto Condensed', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 18px;
                        text-transform: uppercase;
                        transition: 1s color ease-out;
                    } 

                    &-NotSelected {
                        height: 18px;
                        margin-bottom: 8px;       

                        font-family: 'Roboto Condensed', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: #E60000;
                    }

                    &-Items {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .PDP-Attribute-Item {
                
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            border: 1px solid #1D1F22;
                            color: #292929;
                            box-sizing: border-box;
                            width: 63px;
                            height: 45px;
                            display: flex;  
                            margin-right: 12px; 
                            transition: 0.08s ease-in-out;
                            transition: 1s border ease-out;  

                            &-Active {
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                border: 1px solid #1D1F22;
                                color: #292929;
                                box-sizing: border-box;
                                width: 63px;
                                height: 45px;
                                display: flex;  
                                margin-right: 12px;
                                cursor: pointer;   
                                transition: 0.08s ease-in-out;    
                            }

                            &-Warning {
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                border: 1px solid #E60000;
                                color: #292929;
                                box-sizing: border-box;
                                width: 63px;
                                height: 45px;
                                display: flex;  
                                margin-right: 12px; 
                                transition: 0.08s ease-in-out;    
                                
                                &:hover {
                                    background-color: #5ECE7B;
                                    cursor: pointer;    
                                }
                            }

                            &:hover {
                                background-color: #5ECE7B;
                                cursor: pointer;        
                            }

                            &-ItemText {
                                font-family: 'Source Sans Pro', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 18px;
                                letter-spacing: 0.05em;
                            }
                        }
                    }
                    &-Items div:last-child {
                        margin: 0px 0px;
                    }
                }

            #PDP-SideSection-PriceLabel {
                text-transform: uppercase;
                width: 50px;
                height: 18px;
                margin: 0px 10px 0px 0px;
                top: 224px;
                color: #1D1F22;
                font-family: 'Roboto Condensed', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
                display: flex;
                align-items: center;
                text-align: center;
            }

            &-ProductPrice {
                margin-bottom: 20px;
                top: 252px;
                width: 86px;
                height: 46px;
                display: inline-flex;
                align-items: center;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 18px;
                color: #1D1F22;

                &-CurrencySymbol {
                    margin: 0;
                    padding: 0;
                }
            
                &-Amount {
                    margin: 0px 0px;
                    width: 40px;
                    height: 20px;
                    padding: 0px 0px;
                }
            }

            &-AddToCart {
                top: 312.5px;
                background-color: #5ECE7B;
                border: none;
                color: #FFF;
                display: flex;
                flex-direction: column;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 0px 0px;
                align-items: center;
                margin-bottom: 40px;
                padding: 16px 32px;
                width: 292px;
                height: 52px;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 160%;
                transition: 0.22ms ease-in-out;
            }
            
            &-AddToCart:hover {
                color: #1D1F22;
            }

            &-AddToCart:active {
                background-color: #309C4D;
            }

            #PDP-SideSection-Description {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;

                p {
                    margin: 0px 0px;
                }
            }
        }
    }
}