.Product {
    display: flex;
    width: 386px;
    height: 444px;
    border: 1px solid black;
    text-decoration: none;
    
    &-Card {
        position: relative;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;
        width: 386px;
        height: 444px;
    }

    &-Image {

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;

        position: static;
        width: 354px;
        height: 330px;
        left: 16px;
        top: 16px; 
    }

    &-Content {

        position: absolute;
        width: 354px;
        height: 58px;
        top: 370px;
        right: 0px;
        bottom: 0px;
        left: 16px;
    }

    #Product-Brand {
        margin: 0;
        padding: 0;
        position: absolute;
    }

    #Product-Name {
        position: absolute;
        margin: 0;
        padding: 0;
        left: 115px;    
    }

    &-Price {
        width: 58px;
        height: 29px;
        position: absolute;
        display: flex;
        top: 29px; 
    }

    &-PriceCurrencySymbol, &-PriceAmount {
        margin: 0;
        padding: 0;
    }

    &-AddToCartIcon {
        position: relative;
        width: 52px;
        height: 52px;
        right: 50px;
        bottom: -26px;
        //visibility: hidden;
    }
}

.Product-OutOfStock {
    position: relative;
    background: #FFF;
    opacity: 0.5;

    .OutOfStockLabel {
        position: absolute;
        text-transform: uppercase;
        color: #8D8F9A;
        width: 173px;
        height: 39px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 90px;
        top: 146px;
    }
}