.ProductCard {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    width: 386px;
    height: 444px;
    margin-bottom: 103px;
    background: #FFF;
    filter: drop-shadow(0px 4px 35px transparent);
    transition: filter .25s;

    &:hover {
        filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
    }

    &-Image {

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;

        position: absolute;
        width: 354px;
        height: 330px;
        left: 16px;
        top: 16px; 
    }

    &-Content {

        position: absolute;
        width: 354px;
        height: 58px;
        top: 370px;
        right: 0px;
        bottom: 0px;
        left: 16px;

        &-ProductName {
            width: 354px;
            height: 29px;
            display: flex;
            align-items: center;  
        }

        #ProductCard-Content-Brand {
            margin: 0 10px 0 0;
            padding: 0;
        }
    
        #ProductCard-Content-Name {
            margin: 0;
            padding: 0;  
        }

        #ProductCard-Content-Brand, #ProductCard-Content-Name {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 00;
            font-size: 18px;
            line-height: 160%;
            color: #1D1F22;
        }

        &-Price {
            width: 58px;
            height: 29px;
            position: absolute;
            display: flex;
            top: 29px;
            
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            text-align: right;
            color: #1D1F22;
        }
    
        &-PriceCurrencySymbol, &-PriceAmount {
            margin: 0;
            padding: 0;
        }

    }

    &-AddToCartIcon {
        position: relative;
        width: 52px;
        height: 52px;
        right: 50px;
        bottom: -26px;
        visibility: hidden;
    }

    &-OutOfStock {
        position: relative;
        background: #FFF;
        opacity: 0.5;
        width: 386px;
        height: 444px;
    }
   
    &-OutOfStockLabel {
        position: absolute;
        text-transform: uppercase;
        color: #8D8F9A;
        width: 173px;
        height: 39px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 90px;
        top: 146px;
        z-index: 1;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
    }
}