.Product {
    display: flex;
    width: 386px;
    height: 444px;
    border: 1px solid black;
    text-decoration: none;

    &-Card {
        position: static;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;

    }

    &-Image {

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;

        position: static;
        width: 354px;
        height: 330px;
        left: 16px;
        top: 16px; 
    }
    
}