.CartMenu-Wrapper {
    width: 325px;
    height: fit-content;
    position: absolute;
    left: 1028px;
    background: white;
    z-index: 3;
    box-sizing: border-box;
    padding: 32px 16px 32px 16px;
}

.CartMenu {
    width: 293px;
    height: fit-content;

    &-BackgroundOverlay {
        width: 1440px;
        height: 1700px;
        position: absolute;
        top: 78px;
        background-color: rgba(57, 55, 72, 0.22);
        z-index: 2;
    }

    &-Header { 
        width: fit-content;
        height: 28px;
        margin-top: 0px;
        margin-bottom: 32px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        text-align: right;

        #CartMenu-Header-Quantity {
            font-weight: 400;
        }
    }   

    &-Products-Wrapper {
        width: 293px;
        height: fit-content;
        max-height: 420px;
        left: 16px;
        top: 57px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    &-Products-Wrapper::-webkit-scrollbar {
        width: 2px;   
    }
    
    &-Products-Wrapper::-webkit-scrollbar-thumb {
        background-color: #5ECE7B;
    }

    &-Products-Wrapper .CartMenu-Product:last-child {
        margin-bottom: 32px;
    }

    &-Product {
        width: 293px;
        height: -moz-fit-content;
        height: fit-content;
        position: relative;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
    }

    &-LeftSideWrapper {
        width: 136px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-right: 4px;
    }

    &-BrandName {
        width: 136px;
        height: fit-content;
        min-height: 52px;
        margin-bottom: 4px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 160%;
    }

    &-BrandName p {
        margin: 0px 0px;
    }

    &-ProductPrice {
        height: 26px;
        width: fit-content;
        margin-bottom: 8px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        text-align: right;   
    }

    &-Img-Wrapper {
        width: 121px;
        height: auto;
        display: flex;
        align-items: center;
    }

    &-Img {
        width: 100%;
        height: -moz-fit-content;
        height: 100%;
        object-fit: cover;
    }

    &-TotalPriceWrapper {
        width: 289px;
        height: 28px;
        position: relative;
        bottom: 0px;
        right: 0px;
        padding: 0;
        margin-bottom: 32px;
    }

    &-TotalLabel {
        width: 55px;
        height: 19px;
        color: #1D1F22;
        position: absolute;
        top: 9px;

        font-family: 'Roboto', sans-serif;
        font-style: normal ;
        font-weight: 500;
        font-size: 16px;
        line-height: 112%;
    }

    &-TotalPrice {
        width: 95px;
        height: 26px;
        position: absolute;
        left: 194px;
        display: flex;
        align-items: center;
        justify-content: right;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
    }

    &-ButtonsWrapper {
        width: 293px;
        height: 43px;
        position: relative;
        display: inline-flex;
        justify-content: space-between;
    }

    #CartMenu-ViewBag-Link {
        text-decoration: none;
    }

    &-ViewBagBtn {
        width: 140px;
        height: 43px;
        background: #FFF;
        border: 1px solid #1D1F22;
        box-sizing: border-box;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }

    &-ViewBagBtn:hover {
        color:#5ECE7B;
    }

    &-ViewBagBtn:active {
        border: 1px solid #5ECE7B;
        color:#5ECE7B;
    }

    &-CheckOutBtn {
        width: 140px;
        height: 43px;
        background: #5ECE7B;
        border: none;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
    }

    &-CheckOutBtn:hover {
        color: #1D1F22;
    }

    &-CheckOutBtn:active {
       border: 1px solid #1D1F22;
        color: #1D1F22;
    }

    &-IncreaseQuantity {
        width: 24px;
        height: 24px;
        padding: 0;
        border: none;
        background: #FFF;
    }

    &-DecreaseQuantity {
        width: 24px;
        height: 24px;
        padding: 0;
        border: none;
        background: #FFF;
    }

    &-Quantity {
        width: 24px;
        height: initial;
        left: 154px;
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-QuantityNumber {
        text-align: center;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #1D1F22;
    }

    &-AttributeWrapper {
        height: fit-content;
        display: flex;
        bottom: 0px;
        margin-top: auto;
        flex-direction: column;
    }

    &-AttributeWrapper div:last-child {
        margin-bottom: 0px
    }

    /*&-Attribute {
        margin-right: 5px;
        border: 1px solid black;

        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #1D1F22;
    }

    /*&-SelectedAttribute {
        height: 24px;
        width: 24px;
    }*/

    &-Attribute {
        display: flex;
        flex-direction: column;
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-bottom: 8px;
    }

    &-Attribute-Name {
        width: fit-content;
        height: 16px;
        margin-bottom: 8px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #1D1F22;
    }

    &-AttributeItems {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        gap: 8px;
    }

    &-AttributeItem {
        width: fit-content;
        min-width: 24px;
        height: 24px;
        box-sizing: border-box;
        border: 1px solid #1D1F22;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &-ItemText {
        margin: 0px;

        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    }
}

