.CartMenu-Wrapper {
    width: 325px;
    height: fit-content;
    position: absolute;
    top: 78px;
    left: 1043px;
    background: white;
    z-index: 3;
    box-sizing: border-box;
    padding: 32px 16px 32px 16px;
}

.CartMenu {
    width: 293px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 0px;

    &-BackgroundOverlay {
        width: 1440px;
        position: absolute;
        top: 78px;
        background-color: rgba(57, 55, 72, 0.22);
        z-index: 2;
        overflow: hidden;
    }

    &-Header { 
        width: fit-content;
        height: 28px;
        margin-top: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        text-align: right;

        #CartMenu-Header-Quantity {
            font-weight: 400;
        }
    }   

    &-Products-Wrapper {
        width: 293px;
        height: fit-content;
        min-height: 120px;
        max-height: 420px;
        left: 16px;
        top: 57px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        overflow-x: hidden;
    }

    &-Products-Wrapper::-webkit-scrollbar {
        width: 2px;   
    }
    
    &-Products-Wrapper::-webkit-scrollbar-thumb {
        background-color: #5ECE7B;
    }

    &-Products-Wrapper .CartMenu-Product:last-child {
        margin-bottom: 32px;
    }

    #emptyBag {
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    &-TotalPriceWrapper {
        width: 289px;
        height: 28px;
        position: relative;
        bottom: 0px;
        right: 0px;
        padding: 0;
    }

    &-TotalLabel {
        width: 55px;
        height: 19px;
        color: #1D1F22;
        position: absolute;
        top: 9px;

        font-family: 'Roboto', sans-serif;
        font-style: normal ;
        font-weight: 500;
        font-size: 16px;
        line-height: 112%;
    }

    &-TotalPrice {
        width: 95px;
        height: 26px;
        position: absolute;
        left: 194px;
        display: flex;
        align-items: center;
        justify-content: right;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
    }

    &-ButtonsWrapper {
        width: 293px;
        height: 43px;
        position: relative;
        display: inline-flex;
        justify-content: space-between;
    }

    #CartMenu-ViewBag-Link {
        text-decoration: none;
    }

    &-ViewBagBtn {
        width: 140px;
        height: 43px;
        background: #FFF;
        border: 1px solid #1D1F22;
        box-sizing: border-box;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
    }

    &-ViewBagBtn:hover {
        color:#5ECE7B;
        cursor: pointer;
    }

    &-ViewBagBtn:active {
        border: 1px solid #5ECE7B;
        color: #36B056
    }

    &-CheckOutBtn {
        width: 140px;
        height: 43px;
        background: #5ECE7B;
        border: none;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        transition: 0.12s ease-in-out;
    }

    &-CheckOutBtn:hover {
        background-color: #3CC360;
        cursor: pointer;
    }

    &-CheckOutBtn:active {
       background-color: #36B056;
    }
}

