.CartMenu {
    position: absolute;
    width: 325px;
    height: 540px;
    left: 1028px;
    border: 1px solid black;
    background: white;

    &-BackgroundOverlay {
        width: 1440px;
        height: 1700px;
        background-color: rgba(57, 55, 72, 0.22);
        z-index: 10;
        position: absolute;
        top: 78px;
    }

    &-Header {
        position: relative;
        left: 16px;
        top: 8px;
    }

    &-Wrapper {
        border: 1px solid black;
        left: 16px;
        top: 57px;
        width: 293px;
        height: 315px;
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    &-Wrapper::-webkit-scrollbar {
        width: 2px;   
    }
    
    &-Wrapper::-webkit-scrollbar-thumb {
        background-color: #5ECE7B;
    }

    &-Item {
        display: flex;
        justify-content: space-between;
        border: 1px solid;
        margin-bottom: 41px;
    }

    &-BrandName {
        position: absolute;
        width: 136px;
        height: 62px;
    }

    &-Img {
        width: 105px;
        height: 137px;
        position: relative;
        left: 188px;
    }

    &-TotalAmountWrapper {
        width: 289px;
        height: 28px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 414px;
        bottom: 0px;
        right: 0px;
        left: 16px;
    }

    &-TotalLabel {
        width: 55px;
        height: 19px;
        color: #1D1F22;
        position: absolute;
        top: 9px;
        font-family: 'Roboto';
        font-style: normal ;
        font-weight: 500;
        font-size: 16px;
        line-height: 112%;
    }

    &-TotalAmount {
        width: 95px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: right;
        position: absolute;
        left: 194px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
    }

    &-ViewBagBtn {
        position: absolute;
        bottom: 20px;
        left: 13px;
        width: 140px;
        height: 43px;
        background: #FFF;
        border: 1px solid #1D1F22;
        box-sizing: border-box;
    }

    &-CheckOutBtn {
        position: absolute;
        bottom: 20px;
        left: 165px;
        width: 140px;
        height: 43px;
        background: #5ECE7B;
        border: none;
    }

    &-IncreaseQuantity {
        height: 24px;
        width: 24px;
        border: 1px solid #1D1F22;
        background: #FFF;
    }

    &-DecreaseQuantity {
        height: 24px;
        width: 24px;
        border: 1px solid #1D1F22;
        background: #FFF;
        position: absolute;
        top: 113px;
    }

    &-Quantity {
        position: absolute;
        left: 154px;
        width: 24px;
        height: 137px;
    }

    &-QuantityNumber {
        position: relative;
        top: 30px;
        text-align: center;
    }
}

