.Product-Page {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: calc(50% - 386px/2 - 427px);
    top: 331px;
   
}

.Products-CategoryName {
    
    position: absolute;
    height: 68px;
    width: 299px;
    left: 101px;
    top: 160px;
    margin-top: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    line-height: 160%;
    text-transform: capitalize;
}

.Products::after {
    display: table;
    content: "";
    clear: both;
}

