.PDPGallery-MainImage-Wrapper {
    width: 610px;
    height: 511px;
    top: 82px;
    position: absolute;

    .PDPGallery-MainImage {
        width: 610px;
        height: 511px;
        object-fit: contain;
    }
}

.PDPGallery-SideGallery {
    position: absolute;
    width: 79px;
    height: 513px;
    left: 100px;
    top: 80px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.PDPGallery-SideGallery img {
    width: 79px;
    height: 80px;
    margin-bottom: 40px;
    object-fit: cover;

    &:hover {
        cursor: pointer;
    }
}

.PDPGallery-SideGallery::-webkit-scrollbar {
    width: 2px;   
}

.PDPGallery-SideGallery::-webkit-scrollbar-thumb {
    background-color: #5ECE7B;
}
