.CartPageItem {
    position: relative;
    width: 1098px;
    height: 207px;
    left: 100px;
    top: 59px;
    margin-bottom: 19px;

    #CartPageItem-Brand {
        position: absolute;
        width: 292px;
        height: 27px;
        top: 20px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }

    #CartPageItem-Name {
        position: absolute;
        width: 292px;
        height: 27px;
        top: 63px;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }
    
    &-BtnImgGroup {
        position: absolute;
        width: 198px;
        height: 185px;
        left: 900px;
        top: 20px;
        bottom: 19px;
    }

    &-IncreaseButtonWrapper {
        position: relative;
    }

    #Vertical {
        position: absolute;
        top: 33.33%;
        bottom: 33.33%;
        left: 50%;
        right: 50%;
        margin: auto;
    }

    #Horizontal {
        position: absolute;
        top: 50%;
        left: 13px;
    }

    &-ButtonImg {
        position: absolute; 
        left: 33%; 
        right: 33.33%;
        top: 50%;
        bottom: 50%;
        padding: 0;
        margin: 0;
    }

    &-Gallery {
        position: absolute;
        width: 141px;
        height: 185px;
        top: 0px;
        right: 0px;
    }

    &-Img {
        width: 141px;
        height: 185px;
    }

    #VectorLeft {
        width: 24px;
        height: 24px;
        border: 1px solid black;
        position: absolute;
        left: 0px;
        bottom: 80px;
        right: 0px;
    }
    
    #VectorRight {
        width: 24px;
        height: 24px;
        border: 1px solid black;
        position: absolute;
        left: 115px;
        bottom: 80px;
        right: 0px;
    }

    &-Line {
        width: 1097px;
        height: 1px;
        width: 1097px;
        height: 1px;
        background: #E5E5E5;
        border: none;
        margin: 0 0 20px 0;
    }

    &-IncreaseQuantity {
        width: 45px;
        height: 45px;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: 1px solid #1D1F22;
    }

    &-DecreaseQuantity {
        width: 45px;
        height: 45px;
        position: absolute;
        bottom: 0;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: 1px solid #1D1F22;
    }

    &-Quantity {
        position: relative;
        width: 10px;
        height: 34px;
        left: 17.5px;
        top: 30px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &-Price {
        width: 86px;
        height: 46px;
        position: absolute;
        top: 102px;
        display: flex;
        align-items: center;
    }

    &-PriceCurrencySymbol, &-PriceAmount {
        margin: 0;
        padding: 0;
    }
}