.CartPageItem {
    position: relative;
    width: 1240px;
    height: fit-content;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    &-ItemInfoWrapper {
        width: fit-content;
        height: fit-content;
    }

    #CartPageItem-Brand {
        position: relative;
        width: -moz-fit-content;
        width: fit-content;
        height: 27px;
        /* top: 24px; */
        bottom: 0px;
        right: 0px;
        left: 0px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: #1D1F22;
        margin-bottom: 16px;
    }

    #CartPageItem-Name { 
        width: 292px;
        height: 27px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: #1D1F22;
        margin-bottom: 20px;
    }
    
    &-BtnImgGroup {
        width: 269px;
        height: 288px;
        left: 971px;
        bottom: 0px;
    }

    &-QuantityWrapper {
        width: 45px;
        height: 288px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-Gallery {
        position: absolute;
        width: 200px;
        height: 288px;
        top: 0px;
        right: 0px;
        display: flex;
        align-items: center;
    }

    &-Img {
        width: 200px;
        height: 288px;
        object-fit: scale-down;
    }

    &-CaretLeftWrapper {
        width: 24px;
        height: 24px;
        background: rgba(0, 0, 0, 0.73);
        position: absolute;
        top: 248px;
        left: 128px;
        padding: 2.7px 3px 3.32px 3px;
        box-sizing: border-box;
        border: none;
        transition: 0.25s ease-in-out;
    }

    &-CaretLeftWrapper:hover {
        background: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }

    &-CaretLeftWrapper:active {
        background: #1D1F22;
    }

    &-CaretRightWrapper {
        width: 24px;
        height: 24px;
        background: rgba(0, 0, 0, 0.73);
        position: absolute;
        top: 248px;
        bottom: 0px;
        left: 160px;
        padding: 2.7px 3px 3.32px 3px;
        box-sizing: border-box;
        border: none;
        transition: 0.05s ease-in-out;
    }

    &-CaretRightWrapper:hover {
        background: #1D1F22;
        cursor: pointer;
    }

    &-CaretRightWrapper:active {
        background: black;
    }

    &-Line {
        width: 1097px;
        height: 1px;
        width: 1240px;
        height: 1px;
        background: #E5E5E5;
        border: none;
        margin: 0 0 24px 0;
    }

    &-IncreaseQuantity {
        width: 45px;
        height: 45px;
        background: transparent;
        padding: 0;
        margin: 0;
        border: none;
        transition: 0.08s ease-in-out;
    }

    &-IncreaseQuantity:hover {
        background: rgba(0, 0, 0, 0.11);
        cursor: pointer;
    }

    &-IncreaseQuantity:active {
        background: rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    &-DecreaseQuantity {
        width: 45px;
        height: 45px;
        bottom: 0;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
        transition: 0.08s ease-in-out;
    }

    &-DecreaseQuantity:hover {
        background: rgba(0, 0, 0, 0.11);
        cursor: pointer;
    }

    &-DecreaseQuantity:active {
        background: rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    &-Quantity {
        width: 45px;
        height: 34px;
        left: 17.5px;
        top: 71.76px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
    }

    &-Price {
        width: fit-content;
        height: 24px;
        display: flex;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    &-PriceCurrencySymbol, &-PriceAmount {
        margin: 0;
        padding: 0;
    }

    &-Attributes {
        top: 45px;
        display: flex;
        flex-direction: column;
    }

    &-Attributes div:last-child {
        margin-bottom: 0px;    
    }

    &-Attribute {
        margin-bottom: 16px;

        &-Name {
            width: fit-content;
            height: 18px;
            font-family: 'Roboto Condensed', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #1D1F22;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 7px;        
        }

        &-Items {
            display: flex;
            flex-direction: row;
            align-items: center; 
            gap: 8px;   
        }

        &-Item {
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 1px solid #1D1F22;
            color: #292929;
            box-sizing: border-box;
            width: 63px;
            height: 45px;
            display: flex;
            transition: 0.08s ease-in-out;
    
            &:hover {
                background-color: #5ECE7B;
                cursor: pointer; 
            }
    
            &-Active {
                align-items: center;
                justify-content: center;
                text-align: center;
                border: 1px solid #1D1F22;
                color: #292929;
                box-sizing: border-box;
                width: 63px;
                height: 45px;
                display: flex;
                cursor: pointer;
                transition: 0.08s ease-in-out;
            }

            &-ItemText {
                font-family: 'Source Sans Pro', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                display: flex;
                align-items: center;
                text-align: center; 
                letter-spacing: 0.05em; 
            }
        }

        &-Color:hover {
            background-clip: content-box !important;
            width: 36px !important;
            height: 36px !important;
            padding: 1px !important;
            border: 1px solid #1D1F22;
            box-sizing: border-box !important;;
            cursor: pointer;  
        }
    }
}