.NavBar {
    width: 234px;
    height: 80px;
    left: 101px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    &-Menu {
        display: flex;
        flex-direction: row;
        margin-left: 101px;
        text-transform: uppercase;
        height: 80px;
    }

    p {
        margin-top: 24px;
        margin-bottom: 0px; 
        padding-top: 4px;
        padding-right: 16px;
        padding-bottom: 30px;
        padding-left: 16px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &-MenuItemLink {
        text-decoration: none;
        color: inherit; 
    }

    &-MenuItemLink :focus, :hover, :visited, :link, :active {
        text-decoration: none; 
    }

    &-MenuItem:hover {
        color: #5ECEB7;
        border-bottom: 2px solid #5ECEB7;
    }
}